.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover


# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tags
.tmproj
nbproject
Thumbs.db
tags

# NPM packages folder.
node_modules/

tmp/
public/static/js/
public/static/css/
public/static/media/
